<app-header (sideNavToogled)="sideNavStatus = $event;"></app-header>
<main>
    <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-sidenav-open':sideNavStatus}"></app-sidenav>
    <div class="display-area p-3" [ngClass]="{'display-shrink':sideNavStatus}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 setdiv">
                    <div class="panel border bg-white">
                        <div class="panel-heading bg-aliceblue text-start row mx-0">
                            <div class="col-6">
                                <h4 class="p-3 font-weight-bold m-0 d-flex align-items-center"
                                    style="line-height: 42px;">Your Synced Data</h4>

                            </div>
                            <div class="col-6 d-flex align-items-center justify-content-end">
                                <button style="width: 200px !important;" class="btn btn-outline-light"
                                    (click)="configure()">Configure </button>
                            </div>
                        </div>
                        <div class="panel-body p-3 px-0 pt-2" style="color: #1b3468;justify-content: start;">
                            <div class="row m-0 px-3 d-flex justify-content-end">
                                LastSyncDate : {{totalCount | date:'dd-MM-yyyy'}}
                            </div>
                            <!-- <h5 class="setcenter">Modules that you have Synced are as below:</h5> -->
                            <div class="row mx-3 pt-3 ">
                                <div *ngFor="let item of syncCount" class="col-6 pb-5 px-3">
                                    <div class="col-12 text-start bg-aliceblue ps-4 py-2">
                                        <h4 class="m-0">{{item.moduleName}}</h4>
                                    </div>
                                    <div class="card-border mx-0 p-3"
                                        style="border-top-left-radius: 0px;border-top-right-radius: 0px;">
                                        <table class="table table-bordered m-0">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>Date</th>
                                                    <th scope="col">Pallet to QB</th>
                                                    <th>QB to Pallet</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="item.moduleSync.length >0">
                                                <tr *ngFor="let i of item.moduleSync" class="text-center">
                                                    <td>{{i.syncDate | date:'dd-MM-yyyy' }}</td>
                                                    <td>{{i.palletToQBCount }}</td>
                                                    <td>{{i.qbtoPalletCount }}</td>

                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="item.moduleSync.length <=0">
                                                <tr>
                                                    <td colspan="3" class="text-center"> No record Found</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- <div *ngFor="let item of syncCount" class="col-6 pb-5 px-3">
                                    <div class="card-border mx-0">
                                        <div class="col-12 text-start bg-aliceblue ps-4 py-2">
                                            <h2 class="m-0">{{item.moduleName}}</h2>
                                        </div>
                                        <div class="col-12 pt-3">
                                            <div class="row " *ngFor="let i of item.pkg">
                                                <div class="col-12 px-0">
                                                    <div class="row mx-2 px-3 d-flex align-content-center">
                                                        <div class="col-12 pb-3">
                                                            <h6 class="m-0">Total synced Contacts from {{i.dataWay}} are
                                                                :
                                                                <b>{{i.totalCount}}</b>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <!-- <div class="row mx-0">
                                <div *ngFor="let item of syncCount" class="col-12 pb-0 px-0">
                                    <div class="card-border mx-0">
                                        <div class="col-12 text-left bg-aliceblue py-2 px-3">
                                            <h2 class="m-0">{{item.moduleName}}</h2>
                                        </div>
                                        <div class="col-12">
                                            <div class="row py-1" *ngFor="let i of item.pkg">
                                                <div class="col-12">
                                                    <div class="row mx-0 px-3 d-flex align-content-center">
                                                        <div class="col-12 px-3">
                                                            <h6>Total synced Contacts from {{i.dataWay}} are :
                                                                <b>{{i.totalCount}}</b>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>